.rules-block-hidden{
    display: none;
}

.hide_form{
    display: none;
}
.attr-hr{
    background-color: rgb(9, 32, 54);
    height: 2px;
}
.form-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-block-participant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}
.flex1,.flex2,.flex3, .flex4, .flex5, .flex6{
    flex-basis: 350px;
}