.photo-trash{
    position: absolute;
    font-size: 25   px;
}

.rules-block-hidden{
    display: none;
}

.hide_form{
    display: none;
}
.attr-hr{
    background-color: rgb(9, 32, 54);
    height: 2px;
}
.form-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-block-participant{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
}

.flex4, .flex5{
    width: 40%;
}

.lang-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex1,.flex2{
    flex-basis: 45%;
}
.flex3{
    flex-basis: 100%;
}

.kv-file-upload{
    display: none;
}
.add-btn{
    float: right;
}